body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.tabs button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.tabs button span {
  color: transparent;
}

.tabs button.active {
  background-color: #333;
  color: #fff;
}

.tabs button.active span {
  color: white;
}

.products {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.product-card {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 250px;
  text-align: center;
  position: relative;
  background-color: #fff;
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
  height: 40vh;
}

.badge {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 12px;
}

.product-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.product-info-title {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-info-priceTag {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-info p {
  margin: 5px 0;
}

.product-price {
  font-weight: bold;
}

.compare-at-price {
  text-decoration: line-through;
  color: #888;
}

.discount {
  color: #f00;
  font-weight: bold;
}

.addToCart {
  width: 100%;
  height: 5vh;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 3%;
}

@media (max-width: 767px) {
  .product-card {
    width: 100%;
    border: 1px solid grey;
  }

  .product-card img{
    width: 80%;
    height: 60%;
  }

  .badge{
    left: 60px;
  }

  .tabs {
    background-color: transparent;
  }
}


@media (min-width : 367px) {
  .tabs {
    width: 100%;
    margin-left: 2vh;
    align-items: center;
  }


}